/* Моя форма */
#signin {
	position: relative;
	height: 135px;
	width: 280px;
}

#signin  input, 
#signin button {
	background: #abcdef;
	color: #ffeedd;
}

#signin  input,
#signin select,
#signin label {
    position: relative;
    display: block;
	font-size: 16px;
}

#signin  input{
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    padding-left: 20px;
    font-weight: 700;
    margin: 5px 0;
    font-size: 16px;
    color: black;
}

#signin select {
    float: right;
    width: 160px;
    height: 45px;
    border: 0;
    outline: 0;
    padding-left: 10px;
    font-weight: 700;
    background: #abcdef;
    margin: 5px 0;
}

#signin label {
    width: 100px;
    float: left;
    height: 45px;
    border: 0;
    outline: 0;
    padding-left: 20px;
    font-weight: 700;
    background: #abcdef;
    line-height: 45px;
    margin: 5px 0;
    text-align: left;
}	

#signin button {
    display: block;
    position: absolute;
    width: 44px;
    height: 145px;
    outline: 0;
    z-index: 2;
    top: 5px;
    right: -50px;
    border: 5px solid #ffffff;
    font-size: 36px;
}

#signin button:hover{
	color: #ee00bb;
	cursor: pointer;
}

#signin p {
	color: #fff;
    padding: 0 20px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
    text-align: right;
}

#signin p > a{
	color: #ee00bb;
	text-decoration: none;
}